@font-face {
    font-family: 'minecraftfont';
    src: local('minecraftfont'), url('fonts/minecraftfont.woff') format('woff');
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('images/Monumenta.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: black;
    font-family: 'minecraftfont', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    user-select: none;
}

a {
    text-decoration: none;
 }

.name {
    display: flex;
    margin-top: 20px;
}

.name img {
    height: 127px;
    width: 400px;
}

.container_button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menuButton {
    max-width: 100%;
    height: 45px;
    width: 450px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    image-rendering: pixelated; 
    image-rendering: crisp-edges;
}

.menuButton {
    background-image: url(images/button.png);
    cursor: pointer;
    }
    
    .menuButton:hover {
    background-image: url(images/button_hover.png);
    }

.textButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    width: 100%;
    text-align: center; 
    font-size: 18px;
    color: #FFF;
}

.container_copyright {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    width: 100%; 
}

.version {
    margin-left: 10px;
}

.copyright {
    margin-right: 10px;
}

.copyright,
.version {
    display: block;
}


.github_button {
    position: absolute; 
    left: 0; 
    top: 0; 
    max-width: 100%;
    height: 100px;
    width: 100px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    image-rendering: pixelated; 
    image-rendering: crisp-edges;
}

.github_button {
    background-image: url(images/button_github.png);
    cursor: pointer;
    }
    
    .github_button:hover {
    background-image: url(images/button_github_hover.png);
    }

.minecraft_button {
    color: #FFF700;
    position: relative;
    left: 150px;
    top: 140px;
    transform: rotate(340deg);
}

    a.minecraft_button {
        display: block;
        width: 20%;
    }

    
